<div class="session_content">
  <div class="header">Moving Limes</div>
  <h4>Forgot your password?</h4>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name),
               :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>
      <div><%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %></div></br>
      <div><%= f.submit "Send", :class => 'app_btn' %></div>
  <% end %>
</div>